<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819999562577-qsrnh4h9dhdioj9ios9j6p5r82kg7p84.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819999562577-qsrnh4h9dhdioj9ios9j6p5r82kg7p84</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>819999562577-8jpktj5okk947jdl6pbot2mg5pmgs0lk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDuxr0phAcUo5WGXFcOe7u07HlS4-T-mZs</string>
	<key>GCM_SENDER_ID</key>
	<string>819999562577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.buddybrew.app</string>
	<key>PROJECT_ID</key>
	<string>buddybrew-app</string>
	<key>STORAGE_BUCKET</key>
	<string>buddybrew-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819999562577:ios:e48552758b88ac31f2d170</string>
</dict>
</plist>